.root {
    header {
        .header_top {
            .header_right {
                .header_delete {
                    position: relative;
                    float: right;
                    right: 0;
                    background: #fff;
                    display: none;
                    &.active {
                        display: block;
                    }
                    .delete {
                        width: 4rem;
                    }
                }
                .header_exit {
                    position: absolute;
                    float: right;
                    right: 0;
                    background: #fff;
                    display: none;
                    &.active {
                        display: block;
                    }
                    .exit {
                        width: 4rem;
                    }
                }
            }
        }
    }
    .wrap {
        .wrap_page {
            width: 100%;
            height: calc(100% - 100px);

            .page_content {
                width: 100%;
                height: 100%;
                .touch_list_swiper {
                    // top: 60%;
                    top: 400px;
                    // background: #ffffff00;
                    width: 100%;
                    height: 100%;
                    display: none;
                    position: absolute;
                    z-index: 2;
                }
                .content_list {
                    top: 0%;
                    width: 100%;
                    height: 100%;
                    margin-top: 40px;
                    // padding-bottom: 30%;
                    padding-bottom: 55px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    background: #fff;
                    position: relative;
                    z-index: 1;
                    transform: translateY(0px);

                    .list_top_info_top {
                        height: 55px;
                        display: flex;
                        align-items: center;
                        width: calc(100% - 15%);
                        // width: 100%;
                        margin-left: auto;
                        margin-right: auto;
                        position: relative;


                        
                        span {
                            font-weight: bold;
                            font-size: 1.6rem;
                        }
                        .list_top_reflash {

                            .list_top_reflash_a {
                                position: absolute;
                                float: right;
                                right: 0;
                                .list_top_reflash_img{
                                    width: 20px;
                                    float: right;
                                }
                                
                            }
                        }
                    }

                    .content_list_info {
                        overflow-y: hidden;
                        align-items: center;
                        width: calc(100% - 15%);
                        margin-left: auto;
                        margin-right: auto;
                        position: relative;
                        height: 100%;
                        padding-bottom: 55px;
                        
                        .content_list_info_list{
                            
                            .content_list_left_a {
                                background: #fff;
                                z-index: 1;
                            }
                        }
    
                        
                    }
                }
                
                .page_top {
                    margin-top: 17px;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    width: calc(100% - 20%);
                    margin-left: auto;
                    margin-right: auto;
                    position: relative;
                    display: inline-block;

                    // .page_top_left {
                    //     position: relative;
                    //     width: 80%;
                    //     height: 100%;
                    //     margin-right: 20px;
                    .page_top_input {
                        position: relative;
                        width: 100%;
                        padding-bottom: 15px;
                        .page_input {
                            width: 100%;
                            border: 0;
                            border-bottom: 2px solid #fff;
                            outline: 0;
                            color: #fff;
                            padding: 0 0 7.5px 0;
                            background: transparent;
                            transition: border-color 0.2s;
                            font-size: 1.6rem;
                            &::placeholder {
                                font-size: 1.6rem;
                                color: $fontColorB;
                            }
                        }
                        /* reset input */
                        .page_input{
                            &:required,&:invalid { box-shadow:none; }
                        }
                        a {
                            // padding: 0 0 7.5px 0;
                            padding-top: 4px;
                            position: absolute;
                            right: 0;
                            width: 2em;
                            height: 2em;
                            img {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                    .page_top_btn {
                        display: inline-block;
                        position: relative;
                        width: 100%;
                        right: 0;
                        height: 50px;
                        z-index: 1;
                        .btn_list {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            width: 100%;
                            height: 50px;
                            border-radius: 5px;
                            background: $skyblue;
                            // background: linear-gradient(45deg, #6439eb, #1588f7);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            
                            img {
                                display: block;
                                width: 20px;
                                margin-right: 10px;
                            }
                            span {
                                color: #fff;
                                font-size: 1.4rem;
                                line-height: 1.1;
                            }
                        }
                    }


                    // }

                

                }


                
            }
        }
    }
}